<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ultarischool.career">
  <resultMap id="BaseResultMap" type="com.ultarischool.career.career">
    
    <id column="sn" jdbcType="INTEGER" property="sn" />
  
    <result column="faqhdr" jdbcType="VARCHAR" property="faqhdr" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="odrno" jdbcType="INTEGER" property="odrno" />
    <result column="mp4url" jdbcType="VARCHAR" property="mp4url" />
    <result column="ytburl" jdbcType="VARCHAR" property="ytburl" />
    
  </resultMap>
  <sql id="Example_Where_Clause">
    
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 17 11:09:48 KST 2019.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List">
    
    sn,faqhdr,question,answer,odrno,mp4url,ytburl
  </sql>
  
  <select id="selectByExampleCareer" parameterType="com.ultarischool.career.careerExample" resultMap="BaseResultMap">
    
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from faq
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  
  <select id="selectByPrimaryKeyCareer" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    
    select 
    <include refid="Base_Column_List" />
    from faq
    where sn = #{sn,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKeyCareer" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 17 11:09:48 KST 2019.
    -->
    delete from faq
    where sn = #{sn,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExampleCareer" parameterType="com.ultarischool.career.careerExample">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 17 11:09:48 KST 2019.
    -->
    delete from faq
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertCareer" parameterType="com.ultarischool.career.career">
    
    insert into faq ( faqhdr,question,answer,odrno,mp4url,ytburl
      )
    values (
    #{faqhdr,jdbcType=VARCHAR},
    #{question,jdbcType=VARCHAR},
    #{answer,jdbcType=VARCHAR},
    #{odrno,jdbcType=INTEGER},
    #{mp4url,jdbcType=VARCHAR},
    #{ytburl,jdbcType=VARCHAR}
      )
  </insert>
  
  <select id="countByExampleCareer" parameterType="com.ultarischool.career.careerExample" resultType="java.lang.Integer">
    
    select count(*) from faq
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelectiveCareer" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 17 11:09:48 KST 2019.
    -->
    update faq
    <set>
      <if test="record.sn != null">
        sn = #{record.sn,jdbcType=INTEGER},
      </if>
      <if test="record.elsid != null">
        elsid = #{record.elsid,jdbcType=VARCHAR},
      </if>
      <if test="record.elsname != null">
        elsname = #{record.elsname,jdbcType=VARCHAR},
      </if>
      <if test="record.gubun != null">
        gubun = #{record.gubun,jdbcType=VARCHAR},
      </if>
      <if test="record.elstype1 != null">
        elstype1 = #{record.elstype1,jdbcType=VARCHAR},
      </if>
      <if test="record.elstype2 != null">
        elstype2 = #{record.elstype2,jdbcType=VARCHAR},
      </if>
      <if test="record.elsjiaddr != null">
        elsjiaddr = #{record.elsjiaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.elsroaddr != null">
        elsroaddr = #{record.elsroaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.sidogocode != null">
        sidogocode = #{record.sidogocode,jdbcType=VARCHAR},
      </if>
      <if test="record.sidogoname != null">
        sidogoname = #{record.sidogoname,jdbcType=VARCHAR},
      </if>
      <if test="record.eduspcode != null">
        eduspcode = #{record.eduspcode,jdbcType=VARCHAR},
      </if>
      <if test="record.eduspname != null">
        eduspname = #{record.eduspname,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.comregno != null">
        comregno = #{record.comregno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleCareer" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 17 11:09:48 KST 2019.
    -->
    update faq
    set sn = #{record.sn,jdbcType=INTEGER},
      elsid = #{record.elsid,jdbcType=VARCHAR},
      elsname = #{record.elsname,jdbcType=VARCHAR},
      gubun = #{record.gubun,jdbcType=VARCHAR},
      elstype1 = #{record.elstype1,jdbcType=VARCHAR},
      elstype2 = #{record.elstype2,jdbcType=VARCHAR},
      elsjiaddr = #{record.elsjiaddr,jdbcType=VARCHAR},
      elsroaddr = #{record.elsroaddr,jdbcType=VARCHAR},
      sidogocode = #{record.sidogocode,jdbcType=VARCHAR},
      sidogoname = #{record.sidogoname,jdbcType=VARCHAR},
      eduspcode = #{record.eduspcode,jdbcType=VARCHAR},
      eduspname = #{record.eduspname,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      comregno = #{record.comregno,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelectiveCareer" parameterType="com.ultarischool.career.career">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 17 11:09:48 KST 2019.
    -->
    update faq
    <set>
      <if test="elsid != null">
        elsid = #{elsid,jdbcType=VARCHAR},
      </if>
      <if test="elsname != null">
        elsname = #{elsname,jdbcType=VARCHAR},
      </if>
      <if test="gubun != null">
        gubun = #{gubun,jdbcType=VARCHAR},
      </if>
      <if test="elstype1 != null">
        elstype1 = #{elstype1,jdbcType=VARCHAR},
      </if>
      <if test="elstype2 != null">
        elstype2 = #{elstype2,jdbcType=VARCHAR},
      </if>
      <if test="elsjiaddr != null">
        elsjiaddr = #{elsjiaddr,jdbcType=VARCHAR},
      </if>
      <if test="elsroaddr != null">
        elsroaddr = #{elsroaddr,jdbcType=VARCHAR},
      </if>
      <if test="sidogocode != null">
        sidogocode = #{sidogocode,jdbcType=VARCHAR},
      </if>
      <if test="sidogoname != null">
        sidogoname = #{sidogoname,jdbcType=VARCHAR},
      </if>
      <if test="eduspcode != null">
        eduspcode = #{eduspcode,jdbcType=VARCHAR},
      </if>
      <if test="eduspname != null">
        eduspname = #{eduspname,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="comregno != null">
        comregno = #{comregno,jdbcType=VARCHAR},
      </if>
    </set>
    where sn = #{sn,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyCareer" parameterType="com.ultarischool.career.career">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Dec 17 11:09:48 KST 2019.
    -->
    update faq
    set elsid = #{elsid,jdbcType=VARCHAR},
      elsname = #{elsname,jdbcType=VARCHAR},
      gubun = #{gubun,jdbcType=VARCHAR},
      elstype1 = #{elstype1,jdbcType=VARCHAR},
      elstype2 = #{elstype2,jdbcType=VARCHAR},
      elsjiaddr = #{elsjiaddr,jdbcType=VARCHAR},
      elsroaddr = #{elsroaddr,jdbcType=VARCHAR},
      sidogocode = #{sidogocode,jdbcType=VARCHAR},
      sidogoname = #{sidogoname,jdbcType=VARCHAR},
      eduspcode = #{eduspcode,jdbcType=VARCHAR},
      eduspname = #{eduspname,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      comregno = #{comregno,jdbcType=VARCHAR}
    where sn = #{sn,jdbcType=INTEGER}
  </update>
</mapper>