<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ultarischool.course">

	<select id="selectAllCourseForPck"

		resultType="com.ultarischool.course.CourseVO">
		SELECT sn,title from course


	</select>
	<select id="selPckCsOne"

		resultType="com.ultarischool.course.CourseVO">

		SELECT pkgid pkgid2,cosid cosid2,ord ord2 from pkgcos where
		sn = #{sn}
	</select>


	<select id="delPckCsOne" resultType="java.lang.Integer">

		delete from pkgcos where sn
		= #{sn}
	</select>

	<insert id="insertPkgCos"
		parameterType="com.ultarischool.course.CourseVO">
		INSERT INTO pkgcos(
		pkgid,cosid,ord)
		values(#{pkgid2},#{cosid2},#{ord2})
	</insert>

	<insert id="insertPkg"
		parameterType="com.ultarischool.course.CourseVO">
		INSERT INTO package(
		cotag1,
		cotag2,
		cotag3,
		pkgprice,
		dday,
		pkgmemo,
		pkgtitle,

		img1,
		img2,
		img3


		)
		VALUES (
		#{cotag1},
		#{cotag2},
		#{cotag3},
		#{pkgprice},
		#{dday},
		#{pkgmemo},
		#{pkgtitle},

		#{img1},
		#{img2},
		#{img3}
		)

	</insert>

	<update id="updatePkg"
		parameterType="com.ultarischool.course.CourseVO">
		update package

		<set>
			<if test="cotag1 != null">
				cotag1 = #{cotag1,jdbcType=VARCHAR},
			</if>
			<if test="cotag2 != null">
				cotag2 = #{cotag2,jdbcType=VARCHAR},
			</if>
			<if test="cotag3 != null">
				cotag3 = #{cotag3,jdbcType=VARCHAR},
			</if>

			<if test="pkgprice != null">
				pkgprice = #{pkgprice,jdbcType=VARCHAR},
			</if>

			<if test="dday != null">
				dday = #{dday,jdbcType=VARCHAR},
			</if>

			<if test="pkgmemo != null">
				pkgmemo = #{pkgmemo,jdbcType=VARCHAR},
			</if>

			<if test="pkgtitle != null">
				pkgtitle = #{pkgtitle,jdbcType=VARCHAR},
			</if>

			<if test="img1 != null">
				img1 = #{img1,jdbcType=VARCHAR},
			</if>
			<if test="img2 != null">
				img2 = #{img2,jdbcType=VARCHAR},
			</if>
			<if test="img3 != null">
				img3 = #{img3,jdbcType=VARCHAR},
			</if>


		</set>
		where sn = #{sn,jdbcType=INTEGER}

	</update>

	<select id="selCourseOne"
		resultType="com.ultarischool.course.CourseVO"
		parameterType="java.lang.Integer">
		select
		title,
		tottime,
		typecode,
		totheartnum,
		intro,
		tutorid,
		price,
		curriculum,
		detaildesc,
		dday,
		cosimg1,
		cosimg2,
		cosimg3,
		wdate,

		cotag1,cotag2,cotag3,
		cotarget1,cotarget2,cotarget3
		from course where sn
		= #{sn}
	</select>

	<select id="selPackageOne"
		resultType="com.ultarischool.course.CourseVO"
		parameterType="java.lang.Integer">
		select
		sn,
		cotag1,
		cotag2,
		cotag3,
		pkgprice,
		dday,
		pkgmemo,
		pkgtitle,

		img1,
		img2,
		img3
		from package where sn
		= #{sn}
	</select>


	<select id="selMxCsn" resultType="java.lang.Integer">
		SELECT ifnull(MAX(sn),0) sn
		FROM course
	</select>




	<update id="updateCourse"
		parameterType="com.ultarischool.course.CourseVO">
		update course

		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="tottime != null">
				tottime = #{tottime,jdbcType=VARCHAR},
			</if>
			<if test="typecode != null">
				typecode = #{typecode,jdbcType=VARCHAR},
			</if>
			<if test="totheartnum != null">
				totheartnum = #{totheartnum,jdbcType=VARCHAR},
			</if>

			<if test="intro != null">
				intro = #{intro,jdbcType=VARCHAR},
			</if>

			<if test="tutorid != null">
				tutorid = #{tutorid,jdbcType=VARCHAR},
			</if>

			<if test="price != null">
				price = #{price,jdbcType=VARCHAR},
			</if>

			<if test="curriculum != null">
				curriculum = #{curriculum,jdbcType=VARCHAR},
			</if>

			<if test="detaildesc != null">
				detaildesc = #{detaildesc,jdbcType=VARCHAR},
			</if>

			<if test="dday != null">
				dday = #{dday,jdbcType=VARCHAR},
			</if>
			<if test="cosimg1 != null">
				cosimg1 = #{cosimg1,jdbcType=VARCHAR},
			</if>
			<if test="cosimg2 != null">
				cosimg2 = #{cosimg2,jdbcType=VARCHAR},
			</if>
			<if test="cosimg3 != null">
				cosimg3 = #{cosimg3,jdbcType=VARCHAR},
			</if>
			<if test="cotag1 != null">
				cotag1 = #{cotag1,jdbcType=VARCHAR},
			</if>
			<if test="cotag2 != null">
				cotag2 = #{cotag2,jdbcType=VARCHAR},
			</if>
			<if test="cotag3 != null">
				cotag3 = #{cotag3,jdbcType=VARCHAR},
			</if>

			<if test="cotarget1 != null">
				cotarget1 = #{cotarget1,jdbcType=VARCHAR},
			</if>
			<if test="cotarget2 != null">
				cotarget2 = #{cotarget2,jdbcType=VARCHAR},
			</if>
			<if test="cotarget3 != null">
				cotarget3 = #{cotarget3,jdbcType=VARCHAR},
			</if>

		</set>
		where sn = #{sn,jdbcType=INTEGER}

	</update>

	<insert id="insertCourse"
		parameterType="com.ultarischool.course.CourseVO">
		INSERT INTO course(
		title,
		tottime,
		typecode,
		totheartnum,
		intro,
		tutorid,
		price,
		curriculum,
		detaildesc,
		dday,
		cosimg1,
		cosimg2,
		cosimg3,
		wdate,
		cotag1,cotag2,cotag3,
		cotarget1,cotarget2,cotarget3

		)
		VALUES (
		#{title},
		#{tottime},
		#{typecode},
		#{totheartnum},
		#{intro},
		#{tutorid},
		#{price},
		#{curriculum},
		#{detaildesc},
		#{dday},
		#{cosimg1},
		#{cosimg2},
		#{cosimg3},
		CURRENT_TIMESTAMP,
		#{cotag1},#{cotag2},#{cotag3},
		#{cotarget1},#{cotarget2},#{cotarget3}
		)

	</insert>


	<select id="selTGCode"

		resultType="com.ultarischool.course.CourseVO">
		SELECT code tgcode,codename tgname FROM usercode WHERE
		CODE3 = '수강타겟'
	</select>

	<select id="selTaG"

		resultType="com.ultarischool.course.CourseVO">
		SELECT code tgcode,codename tgname FROM usercode WHERE
		CODE3 = '태그'
	</select>



	<select id="selCodeType"

		resultType="com.ultarischool.course.CourseVO">
		SELECT code ctcode,concat(code2,'-',code3,'-',codename)
		codename
		FROM usercode WHERE CODE1 = '과정'
	</select>

	<select id="selCTT"

		resultType="com.ultarischool.course.CourseVO">
		SELECT userid, concat(username,' ( ',email,' )') ttname
		FROM usert WHERE usertypecode = 'TT'
	</select>



	<select id="selListPkg"

		resultType="com.ultarischool.course.CourseVO">
		SELECT sn,pkgtitle FROM package
	</select>


	<select id="selectAllCourse"
		parameterType="com.ultarischool.course.CourseExample"
		resultType="com.ultarischool.course.CourseVO">
		SELECT c.sn, sn coid, c.title, c.tottime, c.totheartnum, c.intro,
		c.tutorid, c.price, c.curriculum, c.detaildesc, c.dday,
		c.typecode,
		uc.code2 as large

		,cucnt,cpcnt

		FROM course AS c
		JOIN usercode AS uc
		ON
		c.typecode =
		uc.code

		LEFT OUTER JOIN
		( SELECT courseid,COUNT(*) cucnt
		FROM cosuser GROUP BY courseid ) cu ON
		cu.courseid = c.sn

		LEFT OUTER
		JOIN
		( SELECT coid,COUNT(*) cpcnt FROM chapter GROUP BY coid ) cp ON
		cp.coid
		= c.sn

		<if test="searchKeyword != null and searchKeyword != ''">
			WHERE c.${searchType} LIKE
			CONCAT('%',#{searchKeyword},'%')
		</if>
		LIMIT ${rowStart-1}, 10;
	</select>

	<select id="countAllCourse"
		parameterType="com.ultarischool.course.CourseExample"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM course as c
		JOIN usercode as uc
		on c.typecode =
		uc.code
		<if test="searchKeyword != null and searchKeyword != ''">
			WHERE c.${searchType} LIKE
			CONCAT('%',#{searchKeyword},'%')
		</if>

	</select>

	<select id="selectAllCoursePkg"
		parameterType="com.ultarischool.course.CourseExample"
		resultType="com.ultarischool.course.CourseVO">
		SELECT c.sn, c.sn coid, c.title, c.tottime, c.totheartnum, c.intro,
		c.tutorid, c.price, c.curriculum, c.detaildesc, c.dday,
		c.typecode,
		uc.code2 as large

		,cucnt,cpcnt, pkgcos.ord,pkgcos.pkgid, pkgcos.sn pkgcosn

		FROM course AS c
		JOIN usercode AS uc
		ON
		c.typecode =
		uc.code

		LEFT OUTER JOIN
		( SELECT courseid,COUNT(*) cucnt
		FROM cosuser GROUP BY courseid ) cu ON
		cu.courseid = c.sn

		LEFT OUTER
		JOIN
		( SELECT coid,COUNT(*) cpcnt FROM chapter GROUP BY coid ) cp ON
		cp.coid
		= c.sn
		
		JOIN pkgcos ON pkgcos.cosid = c.sn

		where 1=1

		and c.sn IN ( SELECT cosid FROM pkgcos WHERE pkgid
		= #{pkgid} )

		<if test="searchKeyword != null and searchKeyword != ''">
			and c.${searchType} LIKE
			CONCAT('%',#{searchKeyword},'%')
		</if>
		LIMIT ${rowStart-1}, 10;
	</select>

	<select id="countAllCoursePkg"
		parameterType="com.ultarischool.course.CourseExample"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM course as c
		JOIN usercode as uc
		on c.typecode =
		uc.code

		where 1=1

		and sn IN ( SELECT cosid FROM pkgcos WHERE pkgid =
		#{pkgid} )

		<if test="searchKeyword != null and searchKeyword != ''">
			and c.${searchType} LIKE
			CONCAT('%',#{searchKeyword},'%')
		</if>

	</select>


	<select id="selectAllPackage"
		parameterType="com.ultarischool.course.CourseExample"
		resultType="com.ultarischool.course.CourseVO">
		SELECT sn,pkgprice,pkgmemo,pkgtitle , cscnt, pzcnt, pucnt

		FROM
		package
		pkg

		left outer JOIN
		(SELECT pkgid,COUNT(*) cscnt FROM pkgcos
		GROUP BY
		pkgid)
		pkc
		ON pkg.sn = pkc.pkgid

		LEFT OUTER JOIN
		(SELECT
		pkgid,COUNT(*)
		pzcnt
		FROM pkguserzzim GROUP BY pkgid) pzz
		ON pzz.pkgid =
		pkg.sn

		LEFT
		OUTER JOIN
		( SELECT pkgid,COUNT(*) pucnt FROM pkguser GROUP
		BY pkgid )
		pku
		ON
		pku.pkgid = pkg.sn

		<if test="searchKeyword != null and searchKeyword != ''">
			WHERE pkg.${searchType} LIKE
			CONCAT('%',#{searchKeyword},'%')
		</if>
		LIMIT ${rowStart-1}, 10;
	</select>

	<select id="countAllPackage"
		parameterType="com.ultarischool.course.CourseExample"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM ( SELECT sn,pkgtitle ,pkgmemo,
		cscnt

		FROM package
		pkg
		left outer JOIN
		(SELECT pkgid,COUNT(*) cscnt FROM
		pkgcos GROUP BY
		pkgid)
		pkc
		ON pkg.sn = pkc.pkgid ) z

		<if test="searchKeyword != null and searchKeyword != ''">
			WHERE z.${searchType} LIKE
			CONCAT('%',#{searchKeyword},'%')
		</if>

	</select>



</mapper>