<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="khsmart.survey">

	<select id="getSurveyList"
		parameterType="com.khsmart.survey.SurveyExample"
		resultType="com.khsmart.survey.Survey">
		select s.sn, s.svname, s.svtype, u.codename as svtypename, s.svmemo,
		sp.svcnt
		from survey as s
		join usercode as u
		on u.`code` = s.`svtype`
		left join (select svyno, count(*) as svcnt from surveypool group by
		svyno ) as sp
		on sp.svyno = s.sn
		<if test="svtype != null and svtype != ''">
			<where>svtype = #{svtype,jdbcType=VARCHAR}</where>
		</if>
		order by sn desc
		LIMIT ${rowStart-1}, 10;
	</select>

	<select id="countBySvtype"
		parameterType="com.khsmart.survey.SurveyExample"
		resultType="java.lang.Integer">
		select count(*)
		from survey as s
		join usercode as u
		on u.`code` =
		s.`svtype`
		left join (select svyno, count(*) as svcnt from surveypool
		group by
		svyno ) as sp
		on sp.svyno = s.sn
		<if test="svtype != null and svtype != ''">
			<where>svtype = #{svtype,jdbcType=VARCHAR}</where>
		</if>
	</select>

	<select id="getSurvey" parameterType="java.lang.Integer"
		resultType="com.khsmart.survey.Survey">
		select s.sn, s.svname, s.svtype, u.codename as svtypename, s.svmemo
		from
		survey as s
		join usercode as u
		on u.`code` = s.`svtype`
		<where>sn=#{sn,jdbcType=INTEGER}</where>
	</select>

	<update id="updateSurveyBySn"
		parameterType="com.khsmart.survey.Survey">
		update survey set svname = #{svname}, svmemo = #{svmemo}
		where sn = #{sn};
	</update>

	<insert id="insertSurvey"
		parameterType="com.khsmart.survey.Survey">
		insert into survey(svname, svtype, svmemo) values
		(#{svname}, #{svtype},
		#{svmemo});
	</insert>

	<delete id="deleteSurvey" parameterType="java.lang.Integer">
		delete from survey where
		sn = #{sn};
	</delete>

	<select id="getAllSurveyList"
		resultType="com.khsmart.survey.Survey">
		select * from survey;
	</select>
</mapper>