<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ultarischool.surveypool">
	<resultMap id="BaseResultMap"
		type="com.ultarischool.surveypool.surveypool">

		<id column="sn" jdbcType="INTEGER" property="sn" />

		<result column="svname" jdbcType="VARCHAR" property="svname" />
		<result column="svtype" jdbcType="VARCHAR" property="svtype" />
		<result column="svmemo" jdbcType="VARCHAR" property="svmemo" />

		<result column="svyno" jdbcType="VARCHAR" property="svyno" />
		<result column="odrno" jdbcType="VARCHAR" property="odrno" />

		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="type1" jdbcType="VARCHAR" property="type1" />
		<result column="bogi1" jdbcType="VARCHAR" property="bogi1" />
		<result column="bogi2" jdbcType="VARCHAR" property="bogi2" />
		<result column="bogi3" jdbcType="VARCHAR" property="bogi3" />
		<result column="bogi4" jdbcType="VARCHAR" property="bogi4" />
		<result column="bogi5" jdbcType="VARCHAR" property="bogi5" />
		<result column="bogi1jum" jdbcType="INTEGER"
			property="bogi1jum" />
		<result column="bogi2jum" jdbcType="INTEGER"
			property="bogi2jum" />
		<result column="bogi3jum" jdbcType="INTEGER"
			property="bogi3jum" />
		<result column="bogi4jum" jdbcType="INTEGER"
			property="bogi4jum" />
		<result column="bogi5jum" jdbcType="INTEGER"
			property="bogi5jum" />

		<result column="svytypename" jdbcType="VARCHAR"
			property="svytypename" />

	</resultMap>
	<sql id="Example_Where_Clause">

		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">

		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">

		sn, title,

		type1,

		bogi1, bogi2, bogi3, bogi4, bogi5, bogi6,
		bogi7,
		bogi8, bogi9, bogi10, bogi11,
		bogi12, bogi13, bogi14, bogi15,
		bogi16,
		bogi17, bogi18, bogi19, bogi20,
		bogi1type, bogi2type, bogi3type,
		bogi4type, bogi5type, bogi6type,
		bogi7type,
		bogi8type, bogi9type,
		bogi10type, bogi11type, bogi12type,
		bogi13type,
		bogi14type, bogi15type,
		bogi16type, bogi17type, bogi18type,
		bogi19type, bogi20type,
		bogi1jum,
		bogi2jum,
		bogi3jum,
		bogi4jum, bogi5jum,

		svyno, odrno


	</sql>
	<select id="selectByExampleSp"
		parameterType="com.ultarischool.surveypool.surveypoolExample"
		resultMap="BaseResultMap">

		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />


		FROM surveypool
		<if test="svyno != null and svyno != ''">
			<where>
				svyno = #{svyno,jdbcType=INTEGER}
			</where>
		</if>
		order by cast(odrno AS DECIMAL)

		LIMIT ${rowStart-1}, 10
	</select>


	<insert id="insertSp"
		parameterType="com.ultarischool.surveypool.surveypool">


		insert into surveypool
		<trim prefix="(" suffix=")" suffixOverrides=",">
			svyno, odrno, title, type1,
			bogi1, bogi2, bogi3,
			bogi4, bogi5, bogi6,
			bogi7, bogi8,
			bogi9,bogi10,bogi11,bogi12,bogi13,bogi14,bogi15,bogi16,bogi17,bogi18,bogi19,bogi20,
			<if test="bogi1type != null">
				bogi1type,
			</if>
			<if test="bogi2type != null">
				bogi2type,
			</if>
			<if test="bogi3type != null">
				bogi3type,
			</if>
			<if test="bogi4type != null">
				bogi4type,
			</if>
			<if test="bogi5type != null">
				bogi5type,
			</if>
			<if test="bogi6type != null">
				bogi6type,
			</if>
			<if test="bogi7type != null">
				bogi7type,
			</if>
			<if test="bogi8type != null">
				bogi8type,
			</if>
			<if test="bogi9type != null">
				bogi9type,
			</if>
			<if test="bogi10type != null">
				bogi10type,
			</if>
			<if test="bogi11type != null">
				bogi11type,
			</if>
			<if test="bogi12type != null">
				bogi12type,
			</if>
			<if test="bogi13type != null">
				bogi13type,
			</if>
			<if test="bogi14type != null">
				bogi14type,
			</if>
			<if test="bogi15type != null">
				bogi15type,
			</if>
			<if test="bogi16type != null">
				bogi16type,
			</if>
			<if test="bogi17type != null">
				bogi17type,
			</if>
			<if test="bogi18type != null">
				bogi18type,
			</if>
			<if test="bogi19type != null">
				bogi19type,
			</if>
			<if test="bogi20type != null">
				bogi20type,
			</if>
			bogi1jum,
			bogi2jum, bogi3jum,
			bogi4jum,
			bogi5jum
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{svyno}, #{odrno}, #{title}, #{type1},
			#{bogi1}, #{bogi2}, #{bogi3},
			#{bogi4}, #{bogi5}, #{bogi6},
			#{bogi7}, #{bogi8},
			#{bogi9},#{bogi10},#{bogi11},#{bogi12},#{bogi13},#{bogi14},#{bogi15},#{bogi16},#{bogi17},#{bogi18},#{bogi19},#{bogi20},
			<if test="bogi1type != null">
				#{bogi1type},
			</if>
			<if test="bogi2type != null">
				#{bogi2type},
			</if>
			<if test="bogi3type != null">
				#{bogi3type},
			</if>
			<if test="bogi4type != null">
				#{bogi4type},
			</if>
			<if test="bogi5type != null">
				#{bogi5type},
			</if>
			<if test="bogi6type != null">
				#{bogi6type},
			</if>
			<if test="bogi7type != null">
				#{bogi7type},
			</if>
			<if test="bogi8type != null">
				#{bogi8type},
			</if>
			<if test="bogi9type != null">
				#{bogi9type},
			</if>
			<if test="bogi10type != null">
				#{bogi10type},
			</if>
			<if test="bogi11type != null">
				#{bogi11type},
			</if>
			<if test="bogi12type != null">
				#{bogi12type},
			</if>
			<if test="bogi13type != null">
				#{bogi13type},
			</if>
			<if test="bogi14type != null">
				#{bogi14type},
			</if>
			<if test="bogi15type != null">
				#{bogi15type},
			</if>
			<if test="bogi16type != null">
				#{bogi16type},
			</if>
			<if test="bogi17type != null">
				#{bogi17type},
			</if>
			<if test="bogi18type != null">
				#{bogi18type},
			</if>
			<if test="bogi19type != null">
				#{bogi19type},
			</if>
			<if test="bogi20type != null">
				#{bogi20type},
			</if>
			0, 0, 0, 0, 0
		</trim>
	</insert>





	<select id="getSurveypoolListBySvyno"
		parameterType="java.lang.Integer"
		resultType="com.ultarischool.surveypool.surveypool">
		select * from surveypool where svyno = #{svyno} order by
		odrno;
	</select>






	<update id="updateBySn"
		parameterType="com.ultarischool.surveypool.surveypool">
		update surveypool
		<set>

			title = #{title,jdbcType=VARCHAR},


			type1 = #{type1,jdbcType=VARCHAR},


			bogi1 = #{bogi1,jdbcType=VARCHAR},


			bogi2 = #{bogi2,jdbcType=VARCHAR},


			bogi3 = #{bogi3,jdbcType=VARCHAR},


			bogi4 = #{bogi4,jdbcType=VARCHAR},


			bogi5 = #{bogi5,jdbcType=VARCHAR},


			bogi6 = #{bogi6,jdbcType=VARCHAR},


			bogi7 = #{bogi7,jdbcType=VARCHAR},


			bogi8 = #{bogi8,jdbcType=VARCHAR},


			bogi9 = #{bogi9,jdbcType=VARCHAR},


			bogi10 =
			#{bogi10,jdbcType=VARCHAR},


			bogi11 = #{bogi11,jdbcType=VARCHAR},


			bogi12 = #{bogi12,jdbcType=VARCHAR},


			bogi13 =
			#{bogi13,jdbcType=VARCHAR},


			bogi14 = #{bogi14,jdbcType=VARCHAR},


			bogi15 = #{bogi15,jdbcType=VARCHAR},


			bogi16 =
			#{bogi16,jdbcType=VARCHAR},


			bogi17 = #{bogi17,jdbcType=VARCHAR},


			bogi18 = #{bogi18,jdbcType=VARCHAR},


			bogi19 =
			#{bogi19,jdbcType=VARCHAR},


			bogi20 = #{bogi20,jdbcType=VARCHAR},

			<if test="bogi1type != null">
				bogi1type = #{bogi1type},
			</if>
			<if test="bogi1type == null">
				bogi1type = "N",
			</if>
			<if test="bogi2type != null">
				bogi2type = #{bogi2type},
			</if>
			<if test="bogi2type == null">
				bogi2type = "N",
			</if>
			<if test="bogi3type != null">
				bogi3type = #{bogi3type},
			</if>
			<if test="bogi3type == null">
				bogi3type = "N",
			</if>
			<if test="bogi4type != null">
				bogi4type = #{bogi4type},
			</if>
			<if test="bogi4type == null">
				bogi4type = "N",
			</if>
			<if test="bogi5type != null">
				bogi5type = #{bogi5type},
			</if>
			<if test="bogi5type == null">
				bogi5type = "N",
			</if>
			<if test="bogi6type != null">
				bogi6type = #{bogi6type},
			</if>
			<if test="bogi6type == null">
				bogi6type = "N",
			</if>
			<if test="bogi7type != null">
				bogi7type = #{bogi7type},
			</if>
			<if test="bogi7type == null">
				bogi7type = "N",
			</if>
			<if test="bogi8type != null">
				bogi8type = #{bogi8type},
			</if>
			<if test="bogi8type == null">
				bogi8type = "N",
			</if>
			<if test="bogi9type != null">
				#{bogi9type},
			</if>
			<if test="bogi9type == null">
				bogi9type = "N",
			</if>
			<if test="bogi10type != null">
				bogi10type = #{bogi10type},
			</if>
			<if test="bogi10type == null">
				bogi10type = "N",
			</if>
			<if test="bogi11type != null">
				bogi11type = #{bogi11type},
			</if>
			<if test="bogi11type == null">
				bogi11type = "N",
			</if>
			<if test="bogi12type != null">
				bogi12type = #{bogi12type},
			</if>
			<if test="bogi12type == null">
				bogi12type = "N",
			</if>
			<if test="bogi13type != null">
				bogi13type = #{bogi13type},
			</if>
			<if test="bogi13type == null">
				bogi13type = "N",
			</if>
			<if test="bogi14type != null">
				bogi14type = #{bogi14type},
			</if>
			<if test="bogi14type == null">
				bogi14type = "N",
			</if>
			<if test="bogi15type != null">
				bogi15type = #{bogi15type},
			</if>
			<if test="bogi15type == null">
				bogi15type = "N",
			</if>
			<if test="bogi16type != null">
				bogi16type = #{bogi16type},
			</if>
			<if test="bogi16type == null">
				bogi16type = "N",
			</if>
			<if test="bogi17type != null">
				bogi17type = #{bogi17type},
			</if>
			<if test="bogi17type == null">
				bogi17type = "N",
			</if>
			<if test="bogi18type != null">
				bogi18type = #{bogi18type},
			</if>
			<if test="bogi18type == null">
				bogi18type = "N",
			</if>
			<if test="bogi19type != null">
				bogi19type = #{bogi19type},
			</if>
			<if test="bogi19type == null">
				bogi19type = "N",
			</if>
			<if test="bogi20type != null">
				bogi20type = #{bogi20type},
			</if>
			<if test="bogi20type == null">
				bogi20type = "N",
			</if>

			odrno = #{odrno},
			svyno = #{svyno},
		</set>
		where sn = #{sn,jdbcType=INTEGER}
	</update>


	<select id="selectByPrimaryKeySp"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">

		select
		<include refid="Base_Column_List" />
		from surveypool
		where sn = #{sn,jdbcType=INTEGER}
	</select>

	<select id="getSvynoUuid"
		parameterType="com.ultarischool.surveypool.surveypoolExample"
		resultType="java.lang.Integer">

		select COUNT(*) FROM surveyresponse 
		
		WHERE resvyno = #{isvyno} and uuid = #{uuid}
	</select>



</mapper>