<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ultarischool.usert">
	<resultMap id="BaseResultMap"
		type="com.ultarischool.usert.usert">

		<id column="sn" jdbcType="INTEGER" property="sn" />
		<result column="userid" jdbcType="VARCHAR" property="userid" />
		<result column="username" jdbcType="VARCHAR"
			property="username" />
		<result column="userpw" jdbcType="VARCHAR" property="userpw" />
		<result column="usertypecode" jdbcType="VARCHAR"
			property="usertypecode" />

		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />

		<result column="birthyyyymmdd" jdbcType="VARCHAR"
			property="birthyyyymmdd" />

		<result column="nickname" jdbcType="VARCHAR"
			property="nickname" />
		<result column="nickimg" jdbcType="VARCHAR" property="nickimg" />

		<result column="ucodeid" jdbcType="VARCHAR" property="ucodeid" />

		<result column="code1" jdbcType="VARCHAR" property="code1" />

		<result column="code2" jdbcType="VARCHAR" property="code2" />

		<result column="code3" jdbcType="VARCHAR" property="code3" />

		<result column="codename" jdbcType="VARCHAR"
			property="codename" />




	</resultMap>
	<sql id="Example_Where_Clause">

		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">

		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		sn, etcgoid, usertypecode, userid, userpw, username, email,
		mobile,
		birthyyyymmdd, lectnum, smsyn, emailyn, telyn, regdate,
		nickname, nickimg
	</sql>

	<!--직원만 가져오기 -->
	<select id="selectAllStaff"
		parameterType="com.ultarischool.usert.usertExample"
		resultType="com.ultarischool.usert.UsertVO">
		SELECT ut.sn, ut.usertypecode, uc.codename, ut.userid,
		ut.regdate,
		ut.username, ut.userpw, ut.email, ut.mobile,
		ut.birthyyyymmdd,
		ut.etcgoid,
		et.elsname
		FROM usert AS ut
		JOIN
		usercode AS
		uc
		ON
		ut.usertypecode =
		uc.code
		JOIN
		etcgo AS et
		ON ut.etcgoid = et.sn
		WHERE
		ut.usertypecode NOT IN ("TT","ST")
		<if test="searchKeyword != null and searchKeyword != ''">
			AND ut.${searchType} LIKE
			CONCAT('%',#{searchKeyword},'%')
		</if>
		ORDER BY ut.sn desc
		LIMIT ${rowStart-1}, 10;
	</select>

	<select id="selTtLecList" parameterType="java.lang.String"
		resultType="com.ultarischool.usert.UsertVO">
		SELECT sn,typecode,title,price FROM course WHERE tutorid =
		#{userid}
	</select>


	<select id="selectByUsertypecode"
		parameterType="com.ultarischool.usert.usertExample"
		resultType="com.ultarischool.usert.UsertVO">
		SELECT ut.userid,username,email,mobile,ut.regdate, ut.sn

		,
		(SELECT IFNULL(COUNT(*),0) FROM course WHERE course.tutorid =
		ut.userid ) ttcnt

		,ifnull(logindate,'-') logindate
		,IFNULL(cucnt,'0')
		cucnt

		, (SELECT IFNULL(COUNT(*),0) FROM cosuserzzim WHERE
		cosuserzzim.userid
		= ut.userid ) zzcnt

		FROM usert ut

		LEFT OUTER JOIN
		(
		SELECT userid,MAX(logindate) logindate FROM loginhis GROUP BY userid
		)
		lh on lh.userid = ut.userid


		LEFT OUTER join
		( SELECT userid,COUNT(*)
		cucnt FROM cosuser GROUP BY userid
		) cu ON cu.userid = ut.userid

		WHERE
		usertypecode like #{usertypecode,jdbcType=VARCHAR}
		
		
		<if test='orderKeyword=="1"'>
			ORDER BY username asc
		</if>
		<if test='orderKeyword=="2"'>
			ORDER BY username desc
		</if>
		
		<if test='orderKeyword=="3"'>
			ORDER BY ut.regdate asc
		</if>
		<if test='orderKeyword=="4"'>
			ORDER BY ut.regdate desc
		</if>
		
		<if test='orderKeyword=="5"'>
			ORDER BY email asc
		</if>
		<if test='orderKeyword=="6"'>
			ORDER BY email desc
		</if>
		
		<if test='orderKeyword=="7"'>
			ORDER BY mobile asc
		</if>
		<if test='orderKeyword=="8"'>
			ORDER BY mobile desc
		</if>
		
		
		<if test='orderKeyword=="9"'>
			ORDER BY cucnt asc
		</if>
		<if test='orderKeyword=="10"'>
			ORDER BY cucnt desc
		</if>
		
		<if test='orderKeyword=="11"'>
			ORDER BY zzcnt asc
		</if>
		<if test='orderKeyword=="12"'>
			ORDER BY zzcnt desc
		</if>
		
		
		LIMIT ${rowStart-1},10
	</select>


	<select id="selectCountByUsertypecode"
		parameterType="com.ultarischool.usert.usertExample"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM ( SELECT userid FROM usert ut
		WHERE
		usertypecode like #{usertypecode,jdbcType=VARCHAR} ) z
	</select>

	<select id="selectStaffBySn" parameterType="java.lang.Integer"
		resultType="com.ultarischool.usert.UsertVO">
		SELECT ut.sn, ut.usertypecode, uc.codename,
		ut.userid,
		ut.regdate,
		ut.username, ut.userpw, ut.email, ut.mobile,
		ut.birthyyyymmdd,
		ut.etcgoid,
		et.elsname
		FROM usert AS ut
		JOIN
		usercode AS
		uc
		ON ut.usertypecode =
		uc.code
		JOIN
		etcgo AS et
		ON ut.etcgoid = et.sn
		WHERE
		ut.usertypecode NOT IN ("TT",
		"ST") AND ut.sn = #{sn,
		jdbcType=INTEGER};
	</select>

	<select id="selectUserStSrch" parameterType="java.lang.String"
		resultType="com.ultarischool.usert.UsertVO">

		select userid,username from usert where username like
		concat('%',#{username},'%')

	</select>

	<select id="selUserLike" parameterType="java.lang.String"
		resultType="com.ultarischool.usert.usert">

		SELECT userid,ucodeid,CODE1,CODE2,CODE3,codename FROM
		vwuserlike
		where userid = #{userid}

	</select>
	
	
	<select id="selVwcosinfo" parameterType="java.lang.String"
		resultType="com.ultarischool.usert.UsertVO">

		SELECT title , wdate FROM
		vwcosinfo
		where userid = #{userid}

	</select>




	<select id="selectByExampleUsert"
		parameterType="com.ultarischool.usert.usertExample"
		resultMap="BaseResultMap">

		select

		usert.sn, userid,

		schoolunivfk ,

		''
		elsname ,

		userpw, username,
		usertype, snstype, usyear, usban, usbun,
		usert.email,
		mobile, notiemail,
		notiesms, birthyyyymmdd, tutortype, activearea, addr,
		usimg, memo1,
		bankimg, regimg, careerimg, etcdocu1, etcdocu2, bankacc, gradu,
		kocode,

		IFNULL((SELECT utjname FROM utjob WHERE utjcode = utjcode1
		),'-')
		utjcode1,

		IFNULL((SELECT utjname FROM utjob WHERE utjcode =
		utjcode2 ),'-') utjcode2,

		IFNULL((SELECT utjname FROM utjob WHERE
		utjcode = utjcode3 ),'-')
		utjcode3,

		sppg3, spp3, sppsdate3, sppg2, spp2,
		sppsdate2, sppg1, spp1, sppsdate1,

		jobm3, jobg3, jobedate3, jobsdate3,
		job3, jobm2, jobg2, jobedate2,
		jobsdate2,
		job2, jobm1, jobg1, jobedate1,
		jobsdate1, job1, result3, result2, result1,
		schedate1,
		schedate2,
		schedate3, schsdate1, schsdate2, schsdate3, grd3, grd2, grd1, sch3,
		sch2,
		sch1, tchjik,
		tchphone2,ttfile,ttppt,usert.zipcode,mobile22,email22

		from usert left
		outer JOIN school ON school.sn = usert.schoolunivfk

		where
		usertype =
		#{usertype,jdbcType=VARCHAR}

		<if
			test="searchKeyword!=null and searchKeyword!='' and searchType!=''">
			<foreach item="item" index="index" collection="searchTypeArr"
				separator=" OR " open="AND (" close=")">
				${item} LIKE CONCAT('%',
				#{searchKeyword},'%' )
			</foreach>
		</if>

		LIMIT ${rowStart-1}, 10

	</select>







	<select id="selectByPrimaryKeyUsert"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">

		select
		sn, userid,


		userpw,
		username, usertypecode, email, mobile, birthyyyymmdd, nickname,
		nickimg

		from usert
		where sn =
		#{sn,jdbcType=INTEGER}
	</select>

	<select id="selectByPrimaryKeyUsert2"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">

		select
		sn, userid,

		etcgosn ,

		( select elsname from etcgo where etcgo.sn = usert.etcgosn ) elsname ,

		userpw, username, usertype, snstype, usyear, usban, usbun, email,
		mobile, notiemail, notiesms, birthyyyymmdd, tutortype, activearea,
		addr, usimg, memo1,
		bankimg, regimg, careerimg, etcdocu1, etcdocu2,
		bankacc, gradu, kocode,
		utjcode1, utjcode2, utjcode3,

		sppg3, spp3,
		sppsdate3, sppg2, spp2, sppsdate2, sppg1, spp1, sppsdate1,

		jobm3,
		jobg3, jobedate3, jobsdate3, job3, jobm2, jobg2, jobedate2,
		jobsdate2,
		job2, jobm1, jobg1, jobedate1, jobsdate1, job1, result3, result2,
		result1,
		schedate1,
		schedate2, schedate3, schsdate1, schsdate2,
		schsdate3, grd3, grd2, grd1, sch3,
		sch2,
		sch1, tchjik,
		tchphone2,ttfile,ttppt,zipcode

		from usert
		where sn =
		#{sn,jdbcType=INTEGER}
	</select>

	<select id="selMaxUserNo" resultType="java.lang.Integer">

		select max(sn) from usert
	</select>

	<insert id="insertStudentByTeacher"
		parameterType="com.ultarischool.usert.usert">
		INSERT INTO usert (
		userid,schoolunivfk,
		userpw,kocode,
		usertype,username,
		snstype,usyear,usban,usbun,
		email,mobile,birthyyyymmdd )

		VALUES(

		#{userid,jdbcType=VARCHAR},
		#{schoolunivfk,jdbcType=INTEGER},
		'12345678', '000',
		'ST',#{username,jdbcType=VARCHAR},
		'0',#{usyear,jdbcType=VARCHAR},#{usban,jdbcType=VARCHAR},#{usbun,jdbcType=VARCHAR},
		'a@a.com','00000000','20200101'
		)
	</insert>


	<select id="selectByPrimaryKeyTTPdf"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">

		select

		sn, userid,
		schoolunivfk, userpw, username, usertype, snstype, usyear,
		usban,
		usbun, email,
		mobile, notiemail, notiesms, birthyyyymmdd, tutortype,
		activearea, addr,
		usimg, memo1,
		bankimg, regimg, careerimg, etcdocu1,
		etcdocu2, bankacc, gradu,

		( SELECT cname FROM codet WHERE CODE = kocode
		AND category =
		'직업분야(직업군)' ) kocode,

		( SELECT utjname FROM utjob WHERE
		utjcode = utjcode1 ) utjcode1,

		( SELECT utjname FROM utjob WHERE
		utjcode = utjcode2 ) utjcode2,

		( SELECT utjname FROM utjob WHERE
		utjcode = utjcode3 ) utjcode3,

		sppg3, spp3, sppsdate3, sppg2, spp2,
		sppsdate2, sppg1, spp1,
		sppsdate1, jobm3, jobg3, jobedate3, jobsdate3,
		job3, jobm2, jobg2, jobedate2,
		jobsdate2,
		job2, jobm1, jobg1, jobedate1,
		jobsdate1, job1, result3, result2, result1,
		schedate1,
		schedate2,
		schedate3, schsdate1, schsdate2, schsdate3, grd3, grd2, grd1, sch3,
		sch2,
		sch1, tchjik, tchphone2,ttfile,ttppt,zipcode

		from usert
		where sn =
		#{sn,jdbcType=INTEGER}
	</select>

	<select id="selectTutorUsedJob"
		resultType="com.ultarischool.usert.usert">

		SELECT utjname utjcode1,utjcode utjcode2 FROM utjob WHERE
		utjcode IN (

		SELECT distinct utjcode FROM (

		SELECT utjcode1 utjcode FROM
		usert WHERE usertype = 'TT'
		UNION
		SELECT utjcode2 utjcode FROM usert
		WHERE usertype = 'TT'
		UNION
		SELECT utjcode3 utjcode FROM usert WHERE
		usertype = 'TT'

		) z

		)
	</select>

	<delete id="deleteByPrimaryKeyUsert"
		parameterType="java.lang.Integer">

		delete from usert
		where sn = #{sn,jdbcType=INTEGER}
	</delete>


	<delete id="deleteByExampleUsert"
		parameterType="com.ultarischool.usert.usertExample">

		delete from usert
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>

	<insert id="insertStaff"
		parameterType="com.ultarischool.usert.UsertVO">
		INSERT INTO usert (usertypecode, userid, userpw,
		regdate,
		username, email,
		mobile, birthyyyymmdd, etcgoid)
		VALUES
		(#{usertypecode,jdbcType=VARCHAR},
		#{userid,jdbcType=VARCHAR},
		#{userpw,jdbcType=VARCHAR},
		CURRENT_DATE(),#{username,jdbcType=VARCHAR}, #{email,
		jdbcType=VARCHAR},
		#{mobile,jdbcType=DATE}, #{birthyyyymmdd,
		jdbcType=VARCHAR}, #{etcgoid,jdbcType=INTEGER});
	</insert>

	<insert id="insertUsert"
		parameterType="com.ultarischool.usert.usert">

		insert into usert (
		userid,
		userpw,
		usertypecode,
		etcgoid,
		username,
		email,
		mobile,
		birthyyyymmdd,
		regdate
		)
		values (
		#{userid,jdbcType=VARCHAR},
		#{userpw,jdbcType=VARCHAR},
		#{usertypecode,jdbcType=VARCHAR},
		1,
		#{username,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR},
		#{birthyyyymmdd,jdbcType=VARCHAR},
		current_timestamp


		)
	</insert>


	<insert id="insertSelectiveUsert"
		parameterType="com.ultarischool.usert.usert">

		insert into usert
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="userid != null">
				userid,
			</if>

			<if test="userpw != null">
				userpw,
			</if>
			<if test="usertype != null">
				usertype,
			</if>
			<if test="snstype != null">
				snstype,
			</if>
			<if test="usyear != null">
				usyear,
			</if>
			<if test="usban != null">
				usban,
			</if>
			<if test="usbun != null">
				usbun,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="notiemail != null">
				notiemail,
			</if>
			<if test="notiesms != null">
				notiesms,
			</if>
			<if test="birthyyyymmdd != null">
				birthyyyymmdd,
			</if>
			<if test="tutortype != null">
				tutortype,
			</if>
			<if test="activearea != null">
				activearea,
			</if>
			<if test="addr != null">
				addr,
			</if>
			<if test="usimg != null">
				usimg,
			</if>
			<if test="memo1 != null">
				memo1,
			</if>
			<if test="bankimg != null">
				bankimg,
			</if>
			<if test="regimg != null">
				regimg,
			</if>
			<if test="careerimg != null">
				careerimg,
			</if>
			<if test="etcdocu1 != null">
				etcdocu1,
			</if>
			<if test="etcdocu2 != null">
				etcdocu2,
			</if>

			<if test="username != null">
				username,
			</if>

			<if test="bankacc != null">
				bankacc,
			</if>

			<if test="gradu != null">
				gradu,
			</if>

			<if test="kocode != null">
				kocode,
			</if>

			<if test="utjcode1 != null">
				utjcode1,
			</if>
			<if test="utjcode2 != null">
				utjcode2,
			</if>
			<if test="utjcode3 != null">
				utjcode3,
			</if>
			<if test="sppg3 != null">
				sppg3,
			</if>
			<if test="spp3 != null">
				spp3,
			</if>
			<if test="sppsdate3 != null">
				sppsdate3,
			</if>
			<if test="sppg2 != null">
				sppg2,
			</if>
			<if test="spp2 != null">
				spp2,
			</if>
			<if test="sppsdate2 != null">
				sppsdate2,
			</if>
			<if test="sppg1 != null">
				sppg1,
			</if>
			<if test="spp1 != null">
				spp1,
			</if>
			<if test="sppsdate1 != null">
				sppsdate1,
			</if>
			<if test="jobm3 != null">
				jobm3,
			</if>
			<if test="jobg3 != null">
				jobg3,
			</if>
			<if test="jobedate3 != null">
				jobedate3,
			</if>
			<if test="jobsdate3 != null">
				jobsdate3,
			</if>
			<if test="job3 != null">
				job3,
			</if>
			<if test="jobm2 != null">
				jobm2,
			</if>
			<if test="jobg2 != null">
				jobg2,
			</if>
			<if test="jobedate2 != null">
				jobedate2,
			</if>
			<if test="jobsdate2 != null">
				jobsdate2,
			</if>
			<if test="job2 != null">
				job2,
			</if>
			<if test="jobm1 != null">
				jobm1,
			</if>
			<if test="jobg1 != null">
				jobg1,
			</if>
			<if test="jobedate1 != null">
				jobedate1,
			</if>
			<if test="jobsdate1 != null">
				jobsdate1,
			</if>
			<if test="job1 != null">
				job1,
			</if>
			<if test="result3 != null">
				result3,
			</if>
			<if test="result2 != null">
				result2,
			</if>
			<if test="result1 != null">
				result1,
			</if>
			<if test="schedate1 != null">
				schedate1,
			</if>
			<if test="schedate2 != null">
				schedate2,
			</if>
			<if test="schedate3 != null">
				schedate3,
			</if>
			<if test="schsdate1 != null">
				schsdate1,
			</if>
			<if test="schsdate2 != null">
				schsdate2,
			</if>
			<if test="schsdate3 != null">
				schsdate3,
			</if>
			<if test="grd3 != null">
				grd3,
			</if>
			<if test="grd2 != null">
				grd2,
			</if>
			<if test="grd1 != null">
				grd1,
			</if>
			<if test="sch3 != null">
				sch3,
			</if>
			<if test="sch2 != null">
				sch2,
			</if>
			<if test="sch1 != null">
				sch1,
			</if>

			<if test="tchjik != null">
				tchjik,
			</if>
			<if test="tchphone2 != null">
				tchphone2,
			</if>

			<if test="ttfile != null">
				ttfile,
			</if>

			<if test="ttppt != null">
				ttppt,
			</if>

			<if test="etcgosn != null">
				etcgosn,
			</if>

			<if test="zipcode != null">
				zipcode,
			</if>

		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="schoolunivfk != null">
				#{schoolunivfk,jdbcType=INTEGER},
			</if>
			<if test="userpw != null">
				#{userpw,jdbcType=VARCHAR},
			</if>
			<if test="usertype != null">
				#{usertype,jdbcType=VARCHAR},
			</if>
			<if test="snstype != null">
				#{snstype,jdbcType=VARCHAR},
			</if>
			<if test="usyear != null">
				#{usyear,jdbcType=VARCHAR},
			</if>
			<if test="usban != null">
				#{usban,jdbcType=VARCHAR},
			</if>
			<if test="usbun != null">
				#{usbun,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="notiemail != null">
				#{notiemail,jdbcType=VARCHAR},
			</if>
			<if test="notiesms != null">
				#{notiesms,jdbcType=VARCHAR},
			</if>
			<if test="birthyyyymmdd != null">
				#{birthyyyymmdd,jdbcType=VARCHAR},
			</if>
			<if test="tutortype != null">
				#{tutortype,jdbcType=VARCHAR},
			</if>
			<if test="activearea != null">
				#{activearea,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				#{addr,jdbcType=VARCHAR},
			</if>


			<if test="usimg != null">
				#{usimg,jdbcType=VARCHAR},
			</if>
			<if test="memo1 != null">
				#{memo1,jdbcType=VARCHAR},
			</if>
			<if test="bankimg != null">
				#{bankimg,jdbcType=VARCHAR},
			</if>
			<if test="regimg != null">
				#{regimg,jdbcType=VARCHAR},
			</if>
			<if test="careerimg != null">
				#{careerimg,jdbcType=VARCHAR},
			</if>


			<if test="etcdocu1 != null">
				#{etcdocu1,jdbcType=VARCHAR},
			</if>
			<if test="etcdocu2 != null">
				#{etcdocu2,jdbcType=VARCHAR},
			</if>

			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="bankacc != null">
				#{bankacc,jdbcType=VARCHAR},
			</if>

			<if test="gradu != null">
				#{gradu,jdbcType=VARCHAR},
			</if>

			<if test="kocode != null">
				#{kocode,jdbcType=VARCHAR},
			</if>

			<if test="utjcode1 != null">
				#{utjcode1,jdbcType=VARCHAR},
			</if>
			<if test="utjcode2 != null">
				#{utjcode2,jdbcType=VARCHAR},
			</if>
			<if test="utjcode3 != null">
				#{utjcode3,jdbcType=VARCHAR},
			</if>

			<if test="sppg3 != null">
				#{sppg3,jdbcType=VARCHAR},
			</if>
			<if test="spp3 != null">
				#{spp3,jdbcType=VARCHAR},
			</if>
			<if test="sppsdate3 != null">
				#{sppsdate3,jdbcType=VARCHAR},
			</if>
			<if test="sppg2 != null">
				#{sppg2,jdbcType=VARCHAR},
			</if>
			<if test="spp2 != null">
				#{spp2,jdbcType=VARCHAR},
			</if>
			<if test="sppsdate2 != null">
				#{sppsdate2,jdbcType=VARCHAR},
			</if>
			<if test="sppg1 != null">
				#{sppg1,jdbcType=VARCHAR},
			</if>
			<if test="spp1 != null">
				#{spp1,jdbcType=VARCHAR},
			</if>
			<if test="sppsdate1 != null">
				#{sppsdate1,jdbcType=VARCHAR},
			</if>
			<if test="jobm3 != null">
				#{jobm3,jdbcType=VARCHAR},
			</if>
			<if test="jobg3 != null">
				#{jobg3,jdbcType=VARCHAR},
			</if>
			<if test="jobedate3 != null">
				#{jobedate3,jdbcType=VARCHAR},
			</if>
			<if test="jobsdate3 != null">
				#{jobsdate3,jdbcType=VARCHAR},
			</if>
			<if test="job3 != null">
				#{job3,jdbcType=VARCHAR},
			</if>
			<if test="jobm2 != null">
				#{jobm2,jdbcType=VARCHAR},
			</if>
			<if test="jobg2 != null">
				#{jobg2,jdbcType=VARCHAR},
			</if>
			<if test="jobedate2 != null">
				#{jobedate2,jdbcType=VARCHAR},
			</if>
			<if test="jobsdate2 != null">
				#{jobsdate2,jdbcType=VARCHAR},
			</if>
			<if test="job2 != null">
				#{job2,jdbcType=VARCHAR},
			</if>
			<if test="jobm1 != null">
				#{jobm1,jdbcType=VARCHAR},
			</if>
			<if test="jobg1 != null">
				#{jobg1,jdbcType=VARCHAR},
			</if>
			<if test="jobedate1 != null">
				#{jobedate1,jdbcType=VARCHAR},
			</if>
			<if test="jobsdate1 != null">
				#{jobsdate1,jdbcType=VARCHAR},
			</if>
			<if test="job1 != null">
				#{job1,jdbcType=VARCHAR},
			</if>
			<if test="result3 != null">
				#{result3,jdbcType=VARCHAR},
			</if>
			<if test="result2 != null">
				#{result2,jdbcType=VARCHAR},
			</if>
			<if test="result1 != null">
				#{result1,jdbcType=VARCHAR},
			</if>
			<if test="schedate1 != null">
				#{schedate1,jdbcType=VARCHAR},
			</if>
			<if test="schedate2 != null">
				#{schedate2,jdbcType=VARCHAR},
			</if>
			<if test="schedate3 != null">
				#{schedate3,jdbcType=VARCHAR},
			</if>
			<if test="schsdate1 != null">
				#{schsdate1,jdbcType=VARCHAR},
			</if>
			<if test="schsdate2 != null">
				#{schsdate2,jdbcType=VARCHAR},
			</if>
			<if test="schsdate3 != null">
				#{schsdate3,jdbcType=VARCHAR},
			</if>
			<if test="grd3 != null">
				#{grd3,jdbcType=VARCHAR},
			</if>
			<if test="grd2 != null">
				#{grd2,jdbcType=VARCHAR},
			</if>
			<if test="grd1 != null">
				#{grd1,jdbcType=VARCHAR},
			</if>
			<if test="sch3 != null">
				#{sch3,jdbcType=VARCHAR},
			</if>
			<if test="sch2 != null">
				#{sch2,jdbcType=VARCHAR},
			</if>
			<if test="sch1 != null">
				#{sch1,jdbcType=VARCHAR},
			</if>

			<if test="tchjik != null">
				#{tchjik,jdbcType=VARCHAR},
			</if>
			<if test="tchphone2 != null">
				#{tchphone2,jdbcType=VARCHAR},
			</if>

			<if test="ttfile != null">
				#{ttfile,jdbcType=VARCHAR},
			</if>
			<if test="ttppt != null">
				#{ttppt,jdbcType=VARCHAR},
			</if>

			<if test="etcgosn != null">
				#{etcgosn,jdbcType=INTEGER},
			</if>

			<if test="zipcode != null">
				#{zipcode,jdbcType=VARCHAR},
			</if>


		</trim>
	</insert>

	<!-- 직원 수 -->
	<select id="countAllStaff"
		parameterType="com.ultarischool.usert.usertExample"
		resultType="java.lang.Integer">
		SELECT COUNT(*) AS 'count'
		FROM usert AS ut
		JOIN usercode AS uc
		ON
		ut.usertypecode = uc.code
		WHERE ut.usertypecode NOT IN ("TT",
		"ST")
		<if test="searchKeyword != null and searchKeyword != ''">
			AND ut.${searchType} LIKE
			CONCAT('%',#{searchKeyword},'%');
		</if>
	</select>



	<select id="countByExampleUsert"
		parameterType="com.ultarischool.usert.usertExample"
		resultType="java.lang.Integer">

		SELECT COUNT(*) FROM (

		select

		sn, userid,

		schoolunivfk ,

		''
		elsname ,

		userpw,
		username, usertype, snstype, usyear, usban, usbun, email,
		mobile,
		notiemail, notiesms, birthyyyymmdd, tutortype, activearea,
		addr,
		usimg, memo1,
		bankimg, regimg, careerimg, etcdocu1, etcdocu2,
		bankacc,
		gradu, kocode,
		utjcode1, utjcode2, utjcode3,

		sppg3, spp3,
		sppsdate3,
		sppg2, spp2, sppsdate2, sppg1, spp1, sppsdate1,

		jobm3, jobg3,
		jobedate3, jobsdate3, job3, jobm2, jobg2, jobedate2,
		jobsdate2,
		job2,
		jobm1, jobg1, jobedate1, jobsdate1, job1, result3, result2, result1,
		schedate1,
		schedate2, schedate3, schsdate1, schsdate2, schsdate3, grd3,
		grd2, grd1, sch3,
		sch2,
		sch1,tchjik,tchphone2,ttfile,ttppt,zipcode

		from
		usert ) zz

		where usertype = #{usertype,jdbcType=VARCHAR}

		<if
			test="searchKeyword!=null and searchKeyword!='' and searchType!=''">
			<foreach item="item" index="index" collection="searchTypeArr"
				separator=" OR " open="AND (" close=")">
				${item} LIKE CONCAT('%',
				#{searchKeyword},'%' )
			</foreach>
		</if>

	</select>

	<select id="selectUserInfo"
		parameterType="com.ultarischool.usert.usert"
		resultType="com.ultarischool.usert.usert">

		select
		<include refid="Base_Column_List" />
		from usert
		where userid = #{userid,jdbcType=VARCHAR} and userpw =
		#{userpw,jdbcType=VARCHAR}

	</select>

	<select id="selectCtUserInfo"
		parameterType="com.ultarischool.usert.usert"
		resultType="com.ultarischool.usert.usert">
		SELECT userid,username,usyear,usban,usbun FROM usert WHERE
		usertype = 'ST'
		AND userid IN (
		SELECT studentid from
		contactusdetailstudent WHERE ctudsn =
		#{sn,jdbcType=INTEGER}
		)
	</select>

	<update id="updateByExampleSelectiveUsert" parameterType="map">

		update usert
		<set>

			<if test="record.userid != null">
				userid = #{record.userid,jdbcType=VARCHAR},
			</if>
			<if test="record.schoolunivfk != null">
				schoolunivfk = #{record.schoolunivfk,jdbcType=INTEGER},
			</if>
			<if test="record.userpw != null">
				userpw = #{record.userpw,jdbcType=VARCHAR},
			</if>
			<if test="record.usertype != null">
				usertype = #{record.usertype,jdbcType=VARCHAR},
			</if>
			<if test="record.snstype != null">
				snstype = #{record.snstype,jdbcType=VARCHAR},
			</if>
			<if test="record.usyear != null">
				usyear = #{record.usyear,jdbcType=VARCHAR},
			</if>
			<if test="record.usban != null">
				usban = #{record.usban,jdbcType=VARCHAR},
			</if>
			<if test="record.usbun != null">
				usbun = #{record.usbun,jdbcType=VARCHAR},
			</if>
			<if test="record.email != null">
				email = #{record.email,jdbcType=VARCHAR},
			</if>
			<if test="record.mobile != null">
				mobile = #{record.mobile,jdbcType=VARCHAR},
			</if>
			<if test="record.notiemail != null">
				notiemail = #{record.notiemail,jdbcType=VARCHAR},
			</if>
			<if test="record.notiesms != null">
				notiesms = #{record.notiesms,jdbcType=VARCHAR},
			</if>
			<if test="record.birthyyyymmdd != null">
				birthyyyymmdd = #{record.birthyyyymmdd,jdbcType=VARCHAR},
			</if>
			<if test="record.tutortype != null">
				tutortype = #{record.tutortype,jdbcType=VARCHAR},
			</if>
			<if test="record.activearea != null">
				activearea = #{record.activearea,jdbcType=VARCHAR},
			</if>
			<if test="record.addr != null">
				addr = #{record.addr,jdbcType=VARCHAR},
			</if>
			<if test="record.usimg != null">
				usimg = #{record.usimg,jdbcType=VARCHAR},
			</if>
			<if test="record.memo1 != null">
				memo1 = #{record.memo1,jdbcType=VARCHAR},
			</if>
			<if test="record.bankimg != null">
				bankimg = #{record.bankimg,jdbcType=VARCHAR},
			</if>
			<if test="record.regimg != null">
				regimg = #{record.regimg,jdbcType=VARCHAR},
			</if>
			<if test="record.careerimg != null">
				careerimg = #{record.careerimg,jdbcType=VARCHAR},
			</if>
			<if test="record.etcdocu1 != null">
				etcdocu1 = #{record.etcdocu1,jdbcType=VARCHAR},
			</if>
			<if test="record.etcdocu2 != null">
				etcdocu2 = #{record.etcdocu2,jdbcType=VARCHAR},
			</if>

			<if test="record.username != null">
				username = #{record.username,jdbcType=VARCHAR},
			</if>

			<if test="record.bankacc != null">
				bankacc = #{record.bankacc,jdbcType=VARCHAR},
			</if>

			<if test="record.gradu != null">
				gradu = #{record.gradu,jdbcType=VARCHAR},
			</if>

			<if test="record.kocode != null">
				kocode = #{record.kocode,jdbcType=VARCHAR},
			</if>
			<if test="record.utjcode1 != null">
				utjcode1 = #{record.utjcode1,jdbcType=VARCHAR},
			</if>
			<if test="record.utjcode2 != null">
				utjcode2 = #{record.utjcode2,jdbcType=VARCHAR},
			</if>
			<if test="record.utjcode3 != null">
				utjcode3 = #{record.utjcode3,jdbcType=VARCHAR},
			</if>

			<if test="record.sppg3 != null">
				sppg3 = #{record.sppg3,jdbcType=VARCHAR},
			</if>
			<if test="record.spp3 != null">
				spp3 = #{record.spp3,jdbcType=VARCHAR},
			</if>
			<if test="record.sppsdate3 != null">
				sppsdate3 = #{record.sppsdate3,jdbcType=VARCHAR},
			</if>
			<if test="record.sppg2 != null">
				sppg2 = #{record.sppg2,jdbcType=VARCHAR},
			</if>
			<if test="record.spp2 != null">
				spp2 = #{record.spp2,jdbcType=VARCHAR},
			</if>
			<if test="record.sppsdate2 != null">
				sppsdate2 = #{record.sppsdate2,jdbcType=VARCHAR},
			</if>
			<if test="record.sppg1 != null">
				sppg1 = #{record.sppg1,jdbcType=VARCHAR},
			</if>
			<if test="record.spp1 != null">
				spp1 = #{record.spp1,jdbcType=VARCHAR},
			</if>
			<if test="record.sppsdate1 != null">
				sppsdate1 = #{record.sppsdate1,jdbcType=VARCHAR},
			</if>
			<if test="record.jobm3 != null">
				jobm3 = #{record.jobm3,jdbcType=VARCHAR},
			</if>
			<if test="record.jobg3 != null">
				jobg3 = #{record.jobg3,jdbcType=VARCHAR},
			</if>
			<if test="record.jobedate3 != null">
				jobedate3 = #{record.jobedate3,jdbcType=VARCHAR},
			</if>
			<if test="record.jobsdate3 != null">
				jobsdate3 = #{record.jobsdate3,jdbcType=VARCHAR},
			</if>
			<if test="record.job3 != null">
				job3 = #{record.job3,jdbcType=VARCHAR},
			</if>
			<if test="record.jobm2 != null">
				jobm2 = #{record.jobm2,jdbcType=VARCHAR},
			</if>
			<if test="record.jobg2 != null">
				jobg2 = #{record.jobg2,jdbcType=VARCHAR},
			</if>
			<if test="record.jobedate2 != null">
				jobedate2 = #{record.jobedate2,jdbcType=VARCHAR},
			</if>
			<if test="record.jobsdate2 != null">
				jobsdate2 = #{record.jobsdate2,jdbcType=VARCHAR},
			</if>
			<if test="record.job2 != null">
				job2 = #{record.job2,jdbcType=VARCHAR},
			</if>
			<if test="record.jobm1 != null">
				jobm1 = #{record.jobm1,jdbcType=VARCHAR},
			</if>
			<if test="record.jobg1 != null">
				jobg1 = #{record.jobg1,jdbcType=VARCHAR},
			</if>
			<if test="record.jobedate1 != null">
				jobedate1 = #{record.jobedate1,jdbcType=VARCHAR},
			</if>
			<if test="record.jobsdate1 != null">
				jobsdate1 = #{record.jobsdate1,jdbcType=VARCHAR},
			</if>
			<if test="record.job1 != null">
				job1 = #{record.job1,jdbcType=VARCHAR},
			</if>
			<if test="record.result3 != null">
				result3 = #{record.result3,jdbcType=VARCHAR},
			</if>
			<if test="record.result2 != null">
				result2 = #{record.result2,jdbcType=VARCHAR},
			</if>
			<if test="record.result1 != null">
				result1 = #{record.result1,jdbcType=VARCHAR},
			</if>
			<if test="record.schedate1 != null">
				schedate1 = #{record.schedate1,jdbcType=VARCHAR},
			</if>
			<if test="record.schedate2 != null">
				schedate2 = #{record.schedate2,jdbcType=VARCHAR},
			</if>
			<if test="record.schedate3 != null">
				schedate3 = #{record.schedate3,jdbcType=VARCHAR},
			</if>
			<if test="record.schsdate1 != null">
				schsdate1 = #{record.schsdate1,jdbcType=VARCHAR},
			</if>
			<if test="record.schsdate2 != null">
				schsdate2 = #{record.schsdate2,jdbcType=VARCHAR},
			</if>
			<if test="record.schsdate3 != null">
				schsdate3 = #{record.schsdate3,jdbcType=VARCHAR},
			</if>
			<if test="record.grd3 != null">
				grd3 = #{record.grd3,jdbcType=VARCHAR},
			</if>
			<if test="record.grd2 != null">
				grd2 = #{record.grd2,jdbcType=VARCHAR},
			</if>
			<if test="record.grd1 != null">
				grd1 = #{record.grd1,jdbcType=VARCHAR},
			</if>
			<if test="record.sch3 != null">
				sch3 = #{record.sch3,jdbcType=VARCHAR},
			</if>
			<if test="record.sch2 != null">
				sch2 = #{record.sch2,jdbcType=VARCHAR},
			</if>
			<if test="record.sch1 != null">
				sch1 = #{record.sch1,jdbcType=VARCHAR},
			</if>

			<if test="record.tchjik != null">
				tchjik = #{record.tchjik,jdbcType=VARCHAR},
			</if>
			<if test="record.tchphone2 != null">
				tchphone2 = #{record.tchphone2,jdbcType=VARCHAR},
			</if>

			<if test="record.ttfile != null">
				ttfile = #{record.ttfile,jdbcType=VARCHAR},
			</if>
			<if test="record.ttppt != null">
				ttppt = #{record.ttppt,jdbcType=VARCHAR},
			</if>

			<if test="record.zipcode != null">
				zipcode = #{record.zipcode,jdbcType=VARCHAR},
			</if>



		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>


	<update id="updateByExampleUsert" parameterType="map">

		update usert
		set sn = #{record.sn,jdbcType=INTEGER},
		userid =
		#{record.userid,jdbcType=VARCHAR},

		userpw =
		#{record.userpw,jdbcType=VARCHAR}

		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelectiveUsert"
		parameterType="com.ultarischool.usert.usert">

		update usert
		<set>
			<if test="userid != null">
				userid = #{userid,jdbcType=VARCHAR},
			</if>
			<if test="schoolunivfk != null">
				schoolunivfk = #{schoolunivfk,jdbcType=INTEGER},
			</if>
			<if test="userpw != null">
				userpw = #{userpw,jdbcType=VARCHAR},
			</if>
			<if test="usertype != null">
				usertype = #{usertype,jdbcType=VARCHAR},
			</if>
			<if test="snstype != null">
				snstype = #{snstype,jdbcType=VARCHAR},
			</if>
			<if test="usyear != null">
				usyear = #{usyear,jdbcType=VARCHAR},
			</if>
			<if test="usban != null">
				usban = #{usban,jdbcType=VARCHAR},
			</if>
			<if test="usbun != null">
				usbun = #{usbun,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="notiemail != null">
				notiemail = #{notiemail,jdbcType=VARCHAR},
			</if>
			<if test="notiesms != null">
				notiesms = #{notiesms,jdbcType=VARCHAR},
			</if>
			<if test="birthyyyymmdd != null">
				birthyyyymmdd = #{birthyyyymmdd,jdbcType=VARCHAR},
			</if>
			<if test="tutortype != null">
				tutortype = #{tutortype,jdbcType=VARCHAR},
			</if>
			<if test="activearea != null">
				activearea = #{activearea,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="usimg != null">
				usimg = #{usimg,jdbcType=VARCHAR},
			</if>
			<if test="memo1 != null">
				memo1 = #{memo1,jdbcType=VARCHAR},
			</if>
			<if test="bankimg != null">
				bankimg = #{bankimg,jdbcType=VARCHAR},
			</if>
			<if test="regimg != null">
				regimg = #{regimg,jdbcType=VARCHAR},
			</if>
			<if test="careerimg != null">
				careerimg = #{careerimg,jdbcType=VARCHAR},
			</if>
			<if test="etcdocu1 != null">
				etcdocu1 = #{etcdocu1,jdbcType=VARCHAR},
			</if>
			<if test="etcdocu2 != null">
				etcdocu2 = #{etcdocu2,jdbcType=VARCHAR},
			</if>

			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="bankacc != null">
				bankacc = #{bankacc,jdbcType=VARCHAR},
			</if>

			<if test="gradu != null">
				gradu = #{gradu,jdbcType=VARCHAR},
			</if>

			<if test="kocode != null">
				kocode = #{kocode,jdbcType=VARCHAR},
			</if>

			<if test="utjcode1 != null">
				utjcode1 = #{utjcode1,jdbcType=VARCHAR},
			</if>
			<if test="utjcode2 != null">
				utjcode2 = #{utjcode2,jdbcType=VARCHAR},
			</if>
			<if test="utjcode3 != null">
				utjcode3 = #{utjcode3,jdbcType=VARCHAR},
			</if>

			<if test="sppg3 != null">
				sppg3 = #{sppg3,jdbcType=VARCHAR},
			</if>
			<if test="spp3 != null">
				spp3 = #{spp3,jdbcType=VARCHAR},
			</if>
			<if test="sppsdate3 != null">
				sppsdate3 = #{sppsdate3,jdbcType=VARCHAR},
			</if>
			<if test="sppg2 != null">
				sppg2 = #{sppg2,jdbcType=VARCHAR},
			</if>
			<if test="spp2 != null">
				spp2 = #{spp2,jdbcType=VARCHAR},
			</if>
			<if test="sppsdate2 != null">
				sppsdate2 = #{sppsdate2,jdbcType=VARCHAR},
			</if>
			<if test="sppg1 != null">
				sppg1 = #{sppg1,jdbcType=VARCHAR},
			</if>
			<if test="spp1 != null">
				spp1 = #{spp1,jdbcType=VARCHAR},
			</if>
			<if test="sppsdate1 != null">
				sppsdate1 = #{sppsdate1,jdbcType=VARCHAR},
			</if>
			<if test="jobm3 != null">
				jobm3 = #{jobm3,jdbcType=VARCHAR},
			</if>
			<if test="jobg3 != null">
				jobg3 = #{jobg3,jdbcType=VARCHAR},
			</if>
			<if test="jobedate3 != null">
				jobedate3 = #{jobedate3,jdbcType=VARCHAR},
			</if>
			<if test="jobsdate3 != null">
				jobsdate3 = #{jobsdate3,jdbcType=VARCHAR},
			</if>
			<if test="job3 != null">
				job3 = #{job3,jdbcType=VARCHAR},
			</if>
			<if test="jobm2 != null">
				jobm2 = #{jobm2,jdbcType=VARCHAR},
			</if>
			<if test="jobg2 != null">
				jobg2 = #{jobg2,jdbcType=VARCHAR},
			</if>
			<if test="jobedate2 != null">
				jobedate2 = #{jobedate2,jdbcType=VARCHAR},
			</if>
			<if test="jobsdate2 != null">
				jobsdate2 = #{jobsdate2,jdbcType=VARCHAR},
			</if>
			<if test="job2 != null">
				job2 = #{job2,jdbcType=VARCHAR},
			</if>
			<if test="jobm1 != null">
				jobm1 = #{jobm1,jdbcType=VARCHAR},
			</if>
			<if test="jobg1 != null">
				jobg1 = #{jobg1,jdbcType=VARCHAR},
			</if>
			<if test="jobedate1 != null">
				jobedate1 = #{jobedate1,jdbcType=VARCHAR},
			</if>
			<if test="jobsdate1 != null">
				jobsdate1 = #{jobsdate1,jdbcType=VARCHAR},
			</if>
			<if test="job1 != null">
				job1 = #{job1,jdbcType=VARCHAR},
			</if>
			<if test="result3 != null">
				result3 = #{result3,jdbcType=VARCHAR},
			</if>
			<if test="result2 != null">
				result2 = #{result2,jdbcType=VARCHAR},
			</if>
			<if test="result1 != null">
				result1 = #{result1,jdbcType=VARCHAR},
			</if>
			<if test="schedate1 != null">
				schedate1 = #{schedate1,jdbcType=VARCHAR},
			</if>
			<if test="schedate2 != null">
				schedate2 = #{schedate2,jdbcType=VARCHAR},
			</if>
			<if test="schedate3 != null">
				schedate3 = #{schedate3,jdbcType=VARCHAR},
			</if>
			<if test="schsdate1 != null">
				schsdate1 = #{schsdate1,jdbcType=VARCHAR},
			</if>
			<if test="schsdate2 != null">
				schsdate2 = #{schsdate2,jdbcType=VARCHAR},
			</if>
			<if test="schsdate3 != null">
				schsdate3 = #{schsdate3,jdbcType=VARCHAR},
			</if>
			<if test="grd3 != null">
				grd3 = #{grd3,jdbcType=VARCHAR},
			</if>
			<if test="grd2 != null">
				grd2 = #{grd2,jdbcType=VARCHAR},
			</if>
			<if test="grd1 != null">
				grd1 = #{grd1,jdbcType=VARCHAR},
			</if>
			<if test="sch3 != null">
				sch3 = #{sch3,jdbcType=VARCHAR},
			</if>
			<if test="sch2 != null">
				sch2 = #{sch2,jdbcType=VARCHAR},
			</if>
			<if test="sch1 != null">
				sch1 = #{sch1,jdbcType=VARCHAR},
			</if>

			<if test="tchjik != null">
				tchjik = #{tchjik,jdbcType=VARCHAR},
			</if>
			<if test="tchphone2 != null">
				tchphone2 = #{tchphone2,jdbcType=VARCHAR},
			</if>

			<if test="ttfile != null">
				ttfile = #{ttfile,jdbcType=VARCHAR},
			</if>
			<if test="ttppt != null">
				ttppt = #{ttppt,jdbcType=VARCHAR},
			</if>

			<if test="zipcode != null">
				zipcode = #{zipcode,jdbcType=VARCHAR},
			</if>



		</set>
		where sn = #{sn,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKeyUsert"
		parameterType="com.ultarischool.usert.usert">

		update usert
		<set>




			<if test="userpw != null">
				userpw = #{userpw,jdbcType=VARCHAR},
			</if>
			<if test="usertypecode != null">
				usertypecode = #{usertypecode,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>


		</set>

		where sn = #{sn,jdbcType=INTEGER}
	</update>





</mapper>