<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ultarischool.vwsvyresult">
	<resultMap id="BaseResultMap"
		type="com.ultarischool.vwsvyresult.vwsvyresult">

		<result column="sn" jdbcType="INTEGER" property="sn" />
		<result column="odrno" jdbcType="VARCHAR" property="odrno" />
		<result column="ans" jdbcType="VARCHAR" property="ans" />
		<result column="surveyfk" jdbcType="INTEGER"
			property="surveyfk" />
		<result column="useridfk" jdbcType="VARCHAR"
			property="useridfk" />
		<result column="classnofk" jdbcType="INTEGER"
			property="classnofk" />

		<result column="title" jdbcType="VARCHAR" property="title" />
		
		<result column="bogi1" jdbcType="VARCHAR" property="bogi1" />
		<result column="bogi2" jdbcType="VARCHAR" property="bogi2" />
		<result column="bogi3" jdbcType="VARCHAR" property="bogi3" />
		<result column="bogi4" jdbcType="VARCHAR" property="bogi4" />
		<result column="bogi5" jdbcType="VARCHAR" property="bogi5" />
		
		
		<result column="bogi1t" jdbcType="VARCHAR" property="bogi1t" />
		<result column="bogi2t" jdbcType="VARCHAR" property="bogi2t" />
		<result column="bogi3t" jdbcType="VARCHAR" property="bogi3t" />
		<result column="bogi4t" jdbcType="VARCHAR" property="bogi4t" />
		<result column="bogi5t" jdbcType="VARCHAR" property="bogi5t" />
		
		<result column="per1" jdbcType="VARCHAR" property="per1" />
		<result column="per2" jdbcType="VARCHAR" property="per2" />
		<result column="per3" jdbcType="VARCHAR" property="per3" />
		<result column="per4" jdbcType="VARCHAR" property="per4" />
		<result column="per5" jdbcType="VARCHAR" property="per5" />
		
		<result column="totalbogi" jdbcType="VARCHAR" property="totalbogi" />


		<result column="svname" jdbcType="VARCHAR" property="svname" />
		<result column="stuname" jdbcType="VARCHAR" property="stuname" />
		<result column="userid" jdbcType="VARCHAR" property="userid" />

		<result column="elsname" jdbcType="VARCHAR" property="elsname" />
		<result column="tutorid" jdbcType="VARCHAR" property="tutorid" />
		<result column="stime" jdbcType="VARCHAR" property="stime" />
		<result column="etime" jdbcType="VARCHAR" property="etime" />
		<result column="kojobcode" jdbcType="VARCHAR"
			property="kojobcode" />
		<result column="utjobcode" jdbcType="VARCHAR"
			property="utjobcode" />
		<result column="callername" jdbcType="VARCHAR"
			property="callername" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="schclass" jdbcType="INTEGER"
			property="schclass" />
		<result column="utpsn" jdbcType="INTEGER" property="utpsn" />
		<result column="protitle" jdbcType="VARCHAR"
			property="protitle" />
		<result column="tutorname" jdbcType="VARCHAR"
			property="tutorname" />

		<result column="spcnt" jdbcType="VARCHAR" property="spcnt" />
		
		<result column="type1" jdbcType="VARCHAR" property="type1" />

	</resultMap>
	<sql id="Example_Where_Clause">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Jan 20 
			11:22:29 KST 2020. -->
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Jan 20 
			11:22:29 KST 2020. -->
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">

		sn, odrno, ans, surveyfk, useridfk, classnofk, title, bogi1, bogi2,
		bogi3, bogi4,
		bogi5, svname, stuname, userid, elsname, tutorid, stime, etime, kojobcode,
		utjobcode,
		callername, email, schclass, utpsn, protitle, tutorname,type1
	</sql>

	<select id="selectByExampleVWSGroup"
		parameterType="com.ultarischool.vwsvyresult.vwsvyresultExample"
		resultMap="BaseResultMap">
		SELECT utjobcode,
		elsname,svname,useridfk,tutorid,classnofk,dday,protitle,stuname,callername,tutorname,usyear,usban,surveyfk,spcnt
		FROM (
		SELECT utjobcode,
		elsname,svname,useridfk,tutorid,classnofk,dday,protitle,stuname,callername,tutorname,usyear,usban,surveyfk,COUNT(*)
		spcnt
		FROM vwsvyresult GROUP BY utjobcode,
		elsname,svname,useridfk,tutorid,classnofk,dday,protitle,stuname,callername,tutorname,usyear,usban,surveyfk
		) zz
		WHERE 1=1

		<if test='cosn != "0"'>
			and classnofk = #{cosn,jdbcType=INTEGER}
		</if>
		<if test='svname != "0"'>
			and svname like #{svname,jdbcType=VARCHAR}
		</if>
		

	</select>

	<select id="countByExampleVWSGroup"
		parameterType="com.ultarischool.vwsvyresult.vwsvyresultExample"
		resultType="java.lang.Integer">

		select count(*) from

		( SELECT utjobcode,
		elsname,svname,useridfk,tutorid,classnofk,dday,protitle,stuname,callername,tutorname,usyear,usban,COUNT(*)
		spcnt
		FROM vwsvyresult GROUP BY utjobcode,
		elsname,svname,useridfk,tutorid,classnofk,dday,protitle,stuname,callername,tutorname,usyear,usban
		)

		zz where 1 = 1

		<if test='cosn != "0"'>
			and classnofk = #{cosn,jdbcType=INTEGER}
		</if>
		<if test='svname != "0"'>
			and svname like #{svname,jdbcType=VARCHAR}
		</if>
		



	</select>

	<select id="selectVWSUser"
		parameterType="com.ultarischool.vwsvyresult.vwsvyresult"
		resultType="com.ultarischool.vwsvyresult.vwsvyresult">
		SELECT userid,stuname,surveyfk,svname,title,odrno,ans,

		IF( ans = '1',CONCAT ( bogi1,'(O)' ),bogi1) bogi1,
		IF( ans = '2',CONCAT ( bogi2,'(O)' ),bogi2) bogi2,
		IF( ans = '3',CONCAT ( bogi3,'(O)' ),bogi3) bogi3,
		IF( ans = '4',CONCAT ( bogi4,'(O)' ),bogi4) bogi4,
		IF( ans = '5',CONCAT ( bogi5,'(O)' ),bogi5) bogi5,type1

		FROM vwsvyresult
		WHERE surveyfk=#{surveyfk,jdbcType=INTEGER}
		and useridfk = #{useridfk,jdbcType=VARCHAR}
		and classnofk = #{classnofk,jdbcType=INTEGER}

		order by surveyfk,odrno
	</select>

	<select id="selectVWSUserList"
		parameterType="com.ultarischool.vwsvyresult.vwsvyresult"
		resultType="com.ultarischool.vwsvyresult.vwsvyresult">
		SELECT classnofk,surveyfk,svname,title,odrno,

		bogi1,
		bogi2,
		bogi3,
		bogi4,
		bogi5,
		
		
		bogi1t,
		bogi2t,
		bogi3t,
		bogi4t,
		bogi5t,
		
		totalbogi,
		
		
		round(bogi1 / totalbogi * 100) per1,
		round(bogi2 / totalbogi * 100) per2,
		round(bogi3 / totalbogi * 100) per3,
		round(bogi4 / totalbogi * 100) per4,
		round(bogi5 / totalbogi * 100) per5, ans,TYPE1
		
		
		 FROM (
		SELECT classnofk,surveyfk,svname,title,odrno,
		
		
		bogi1 bogi1t,
		bogi2 bogi2t,
		bogi3 bogi3t,
		bogi4 bogi4t,
		bogi5 bogi5t,

		sum(IF( ans = '1',1,0)) bogi1,
		sum(IF( ans = '2',1,0)) bogi2,
		sum(IF( ans = '3',1,0)) bogi3,
		sum(IF( ans = '4',1,0)) bogi4,
		sum(IF( ans = '5',1,0)) bogi5,
		
		( sum(IF( ans = '1',1,0)) + sum(IF( ans = '2',1,0)) + sum(IF( ans = '3',1,0)) + sum(IF( ans = '4',1,0)) + sum(IF( ans = '5',1,0)) ) totalbogi, 
		ans,TYPE1
		

		FROM vwsvyresult
		GROUP BY classnofk,surveyfk,odrno ) z WHERE
		
		surveyfk=#{surveyfk,jdbcType=INTEGER}
		and classnofk = #{classnofk,jdbcType=INTEGER}
	</select>


	<select id="selListSvyRsltSv"
		resultType="com.ultarischool.vwsvyresult.vwsvyresult">
		SELECT DISTINCT svname FROM vwsvyresult ORDER BY svname
	</select>

	

	<select id="selListSvyRsltJob"
		resultType="com.ultarischool.vwsvyresult.vwsvyresult">
		SELECT sn cosn,title FROM course 
	</select>


	<select id="selectByExampleVWS"
		parameterType="com.ultarischool.vwsvyresult.vwsvyresultExample"
		resultMap="BaseResultMap">

		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from vwsvyresult
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<delete id="deleteByExampleVWS"
		parameterType="com.ultarischool.vwsvyresult.vwsvyresultExample">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Jan 20 
			11:22:29 KST 2020. -->
		delete from vwsvyresult
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insertVWS"
		parameterType="com.ultarischool.vwsvyresult.vwsvyresult">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Jan 20 
			11:22:29 KST 2020. -->
		insert into vwsvyresult (sn, odrno, ans,
		surveyfk, useridfk, classnofk,
		title, bogi1, bogi2,
		bogi3, bogi4, bogi5,
		svname, stuname, userid,
		elsname, tutorid, stime,
		etime, kojobcode, utjobcode,
		callername, email, schclass,
		utpsn, protitle, tutorname
		)
		values (#{sn,jdbcType=INTEGER}, #{odrno,jdbcType=VARCHAR},
		#{ans,jdbcType=VARCHAR},
		#{surveyfk,jdbcType=INTEGER}, #{useridfk,jdbcType=VARCHAR}, #{classnofk,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR}, #{bogi1,jdbcType=VARCHAR},
		#{bogi2,jdbcType=VARCHAR},
		#{bogi3,jdbcType=VARCHAR}, #{bogi4,jdbcType=VARCHAR}, #{bogi5,jdbcType=VARCHAR},
		#{svname,jdbcType=VARCHAR}, #{stuname,jdbcType=VARCHAR},
		#{userid,jdbcType=VARCHAR},
		#{elsname,jdbcType=VARCHAR}, #{tutorid,jdbcType=VARCHAR}, #{stime,jdbcType=VARCHAR},
		#{etime,jdbcType=VARCHAR}, #{kojobcode,jdbcType=VARCHAR},
		#{utjobcode,jdbcType=VARCHAR},
		#{callername,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{schclass,jdbcType=INTEGER},
		#{utpsn,jdbcType=INTEGER}, #{protitle,jdbcType=VARCHAR},
		#{tutorname,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelectiveVWS"
		parameterType="com.ultarischool.vwsvyresult.vwsvyresult">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Jan 20 
			11:22:29 KST 2020. -->
		insert into vwsvyresult
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sn != null">
				sn,
			</if>
			<if test="odrno != null">
				odrno,
			</if>
			<if test="ans != null">
				ans,
			</if>
			<if test="surveyfk != null">
				surveyfk,
			</if>
			<if test="useridfk != null">
				useridfk,
			</if>
			<if test="classnofk != null">
				classnofk,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="bogi1 != null">
				bogi1,
			</if>
			<if test="bogi2 != null">
				bogi2,
			</if>
			<if test="bogi3 != null">
				bogi3,
			</if>
			<if test="bogi4 != null">
				bogi4,
			</if>
			<if test="bogi5 != null">
				bogi5,
			</if>
			<if test="svname != null">
				svname,
			</if>
			<if test="stuname != null">
				stuname,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="elsname != null">
				elsname,
			</if>
			<if test="tutorid != null">
				tutorid,
			</if>
			<if test="stime != null">
				stime,
			</if>
			<if test="etime != null">
				etime,
			</if>
			<if test="kojobcode != null">
				kojobcode,
			</if>
			<if test="utjobcode != null">
				utjobcode,
			</if>
			<if test="callername != null">
				callername,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="schclass != null">
				schclass,
			</if>
			<if test="utpsn != null">
				utpsn,
			</if>
			<if test="protitle != null">
				protitle,
			</if>
			<if test="tutorname != null">
				tutorname,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sn != null">
				#{sn,jdbcType=INTEGER},
			</if>
			<if test="odrno != null">
				#{odrno,jdbcType=VARCHAR},
			</if>
			<if test="ans != null">
				#{ans,jdbcType=VARCHAR},
			</if>
			<if test="surveyfk != null">
				#{surveyfk,jdbcType=INTEGER},
			</if>
			<if test="useridfk != null">
				#{useridfk,jdbcType=VARCHAR},
			</if>
			<if test="classnofk != null">
				#{classnofk,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="bogi1 != null">
				#{bogi1,jdbcType=VARCHAR},
			</if>
			<if test="bogi2 != null">
				#{bogi2,jdbcType=VARCHAR},
			</if>
			<if test="bogi3 != null">
				#{bogi3,jdbcType=VARCHAR},
			</if>
			<if test="bogi4 != null">
				#{bogi4,jdbcType=VARCHAR},
			</if>
			<if test="bogi5 != null">
				#{bogi5,jdbcType=VARCHAR},
			</if>
			<if test="svname != null">
				#{svname,jdbcType=VARCHAR},
			</if>
			<if test="stuname != null">
				#{stuname,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="elsname != null">
				#{elsname,jdbcType=VARCHAR},
			</if>
			<if test="tutorid != null">
				#{tutorid,jdbcType=VARCHAR},
			</if>
			<if test="stime != null">
				#{stime,jdbcType=VARCHAR},
			</if>
			<if test="etime != null">
				#{etime,jdbcType=VARCHAR},
			</if>
			<if test="kojobcode != null">
				#{kojobcode,jdbcType=VARCHAR},
			</if>
			<if test="utjobcode != null">
				#{utjobcode,jdbcType=VARCHAR},
			</if>
			<if test="callername != null">
				#{callername,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="schclass != null">
				#{schclass,jdbcType=INTEGER},
			</if>
			<if test="utpsn != null">
				#{utpsn,jdbcType=INTEGER},
			</if>
			<if test="protitle != null">
				#{protitle,jdbcType=VARCHAR},
			</if>
			<if test="tutorname != null">
				#{tutorname,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExampleVWS"
		parameterType="com.ultarischool.vwsvyresult.vwsvyresultExample"
		resultType="java.lang.Integer">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Jan 20 
			11:22:29 KST 2020. -->
		select count(*) from vwsvyresult
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelectiveVWS" parameterType="map">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Jan 20 
			11:22:29 KST 2020. -->
		update vwsvyresult
		<set>
			<if test="record.sn != null">
				sn = #{record.sn,jdbcType=INTEGER},
			</if>
			<if test="record.odrno != null">
				odrno = #{record.odrno,jdbcType=VARCHAR},
			</if>
			<if test="record.ans != null">
				ans = #{record.ans,jdbcType=VARCHAR},
			</if>
			<if test="record.surveyfk != null">
				surveyfk = #{record.surveyfk,jdbcType=INTEGER},
			</if>
			<if test="record.useridfk != null">
				useridfk = #{record.useridfk,jdbcType=VARCHAR},
			</if>
			<if test="record.classnofk != null">
				classnofk = #{record.classnofk,jdbcType=INTEGER},
			</if>
			<if test="record.title != null">
				title = #{record.title,jdbcType=VARCHAR},
			</if>
			<if test="record.bogi1 != null">
				bogi1 = #{record.bogi1,jdbcType=VARCHAR},
			</if>
			<if test="record.bogi2 != null">
				bogi2 = #{record.bogi2,jdbcType=VARCHAR},
			</if>
			<if test="record.bogi3 != null">
				bogi3 = #{record.bogi3,jdbcType=VARCHAR},
			</if>
			<if test="record.bogi4 != null">
				bogi4 = #{record.bogi4,jdbcType=VARCHAR},
			</if>
			<if test="record.bogi5 != null">
				bogi5 = #{record.bogi5,jdbcType=VARCHAR},
			</if>
			<if test="record.svname != null">
				svname = #{record.svname,jdbcType=VARCHAR},
			</if>
			<if test="record.stuname != null">
				stuname = #{record.stuname,jdbcType=VARCHAR},
			</if>
			<if test="record.userid != null">
				userid = #{record.userid,jdbcType=VARCHAR},
			</if>
			<if test="record.elsname != null">
				elsname = #{record.elsname,jdbcType=VARCHAR},
			</if>
			<if test="record.tutorid != null">
				tutorid = #{record.tutorid,jdbcType=VARCHAR},
			</if>
			<if test="record.stime != null">
				stime = #{record.stime,jdbcType=VARCHAR},
			</if>
			<if test="record.etime != null">
				etime = #{record.etime,jdbcType=VARCHAR},
			</if>
			<if test="record.kojobcode != null">
				kojobcode = #{record.kojobcode,jdbcType=VARCHAR},
			</if>
			<if test="record.utjobcode != null">
				utjobcode = #{record.utjobcode,jdbcType=VARCHAR},
			</if>
			<if test="record.callername != null">
				callername = #{record.callername,jdbcType=VARCHAR},
			</if>
			<if test="record.email != null">
				email = #{record.email,jdbcType=VARCHAR},
			</if>
			<if test="record.schclass != null">
				schclass = #{record.schclass,jdbcType=INTEGER},
			</if>
			<if test="record.utpsn != null">
				utpsn = #{record.utpsn,jdbcType=INTEGER},
			</if>
			<if test="record.protitle != null">
				protitle = #{record.protitle,jdbcType=VARCHAR},
			</if>
			<if test="record.tutorname != null">
				tutorname = #{record.tutorname,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExampleVWS" parameterType="map">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Jan 20 
			11:22:29 KST 2020. -->
		update vwsvyresult
		set sn = #{record.sn,jdbcType=INTEGER},
		odrno = #{record.odrno,jdbcType=VARCHAR},
		ans = #{record.ans,jdbcType=VARCHAR},
		surveyfk = #{record.surveyfk,jdbcType=INTEGER},
		useridfk = #{record.useridfk,jdbcType=VARCHAR},
		classnofk = #{record.classnofk,jdbcType=INTEGER},
		title = #{record.title,jdbcType=VARCHAR},
		bogi1 = #{record.bogi1,jdbcType=VARCHAR},
		bogi2 = #{record.bogi2,jdbcType=VARCHAR},
		bogi3 = #{record.bogi3,jdbcType=VARCHAR},
		bogi4 = #{record.bogi4,jdbcType=VARCHAR},
		bogi5 = #{record.bogi5,jdbcType=VARCHAR},
		svname = #{record.svname,jdbcType=VARCHAR},
		stuname = #{record.stuname,jdbcType=VARCHAR},
		userid = #{record.userid,jdbcType=VARCHAR},
		elsname = #{record.elsname,jdbcType=VARCHAR},
		tutorid = #{record.tutorid,jdbcType=VARCHAR},
		stime = #{record.stime,jdbcType=VARCHAR},
		etime = #{record.etime,jdbcType=VARCHAR},
		kojobcode = #{record.kojobcode,jdbcType=VARCHAR},
		utjobcode = #{record.utjobcode,jdbcType=VARCHAR},
		callername = #{record.callername,jdbcType=VARCHAR},
		email = #{record.email,jdbcType=VARCHAR},
		schclass = #{record.schclass,jdbcType=INTEGER},
		utpsn = #{record.utpsn,jdbcType=INTEGER},
		protitle = #{record.protitle,jdbcType=VARCHAR},
		tutorname = #{record.tutorname,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
</mapper>